.boton{
	-fx-text-fill: #14133b;
	-fx-font-weight: bold;
	-fx-font-size: 1em;
	-fx-border-color: #14133b;
	-fx-border-width: 0.2em;
	-fx-border-radius: 0.5em;
	-fx-background-radius: 0.5em;
	-fx-background-color: white;
}

.boton:hover{
	-fx-effect: innershadow(gaussian, #6fc1c4, 1em, 0.5, 0.0, 0.0);
}

.boton:pressed {
    -fx-text-fill: white;
	-fx-background-color: #14133b;
}